<nav class="navbar">
  <a class="brand" routerLink="/">HotelBookingSystem</a>

  <div class="links" *ngIf="!isAuthenticated()">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>

  <div class="links" *ngIf="isAuthenticated() && user()?.role === 'Admin'">
    <a routerLink="/admin/dashboard">Dashboard</a>
    <a routerLink="/admin/managers">Managers</a>
    <a routerLink="/admin/hotels">Hotels</a>
    <a routerLink="/admin/amenities">Amenities</a>
  </div>

  <div class="links" *ngIf="isAuthenticated() && user()?.role === 'Manager'">
    <a routerLink="/manager/dashboard">Dashboard</a>
    <a routerLink="/manager/hotel-profile">Hotel Profile</a>
    <a routerLink="/manager/rooms">Rooms</a>
    <a routerLink="/manager/bookings">Bookings</a>
  </div>

  <div class="links" *ngIf="isAuthenticated() && user()?.role === 'Customer'">
    <a routerLink="/customer/hotels">Hotels</a>
    <a routerLink="/customer/my-bookings">My Bookings</a>
  </div>

  <button *ngIf="isAuthenticated()" type="button" class="logout-btn" (click)="logout()">
    Logout
  </button>
</nav>
